.card {
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  justify-content: center;
  width: 100%; 
  height: 300px;
  min-width: 300px;
  max-width: 600px;
  position: relative;
}


.btn{
  padding: 25px ;
  align-items: center;
  background-color: chocolate;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px; 

}
 
.btn-container{
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.btn.clicked {
  background-color: rgb(204, 249, 205); 
}

